body {
    background-image: url('background.jpg');
    font-family: Arial, sans-serif;
    text-align: center;margin: 0;
    padding: 40px;
    img {
       width: 150px;
       height: 150px;
       border-radius: 50%;
       object-fit: cover;
       box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
}
a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0078d4;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

a:hover {
    background-color: #005ea6;
}
h1 {
    color:rgb(0, 252, 197)
}
p {
    color:rgb(186, 97, 33);
}   
h2 {
    color:rgb(101, 252, 0);
}